<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

<div  class="navbar-expand-lg navbar-light bg-light" style="text-align: center;">
	<div style="width: 990px; display:inline-block;">
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav d-flex flex-wrap pt-3 pb-2">
	    	<th:block th:each="subCategory: ${subCategoryList}">
	    	 <a class="text-center nav-link inline-block" style="width:247px; text-align:left;" th:href="@{'productList?categoryId='+${subCategory.categoryId}}">[[${subCategory.categoryName}]]</a>
	    	</th:block>
	    </div>
	  </div>
	</div>
</div>

<div class="card-deck mb-3 txt">
	<div class="row d-flex" style="width: 990px; margin:0px auto;">
		<div style="width:100%">
			<th:block th:each="productList: ${productList}">
			 <div class="card" style="width:25%; float:left; margin:0px; padding: 5px 5px; border:none;">
			 <a th:href="@{'/product/productDetail?no='+${productList.productDetailNo}}">
			     <img th:src="${productList.img1}" class="d-block w-100 img-fluid card-img-top">
		     </a>
			     <div class="card-body container" style="height:200px; overflow:hidden; padding-left:0px; padding-right:0px;">
			       <h5 class="card-title" style="font-size: 15px; line-height: 22px; font-weight: 800;">[[${productList.brand}]]</h5>
			       <p class="card-text" >[[${productList.name}]]</p>
			       <p class="card-text float-left" ><small class="text-muted">₩[[${#numbers.formatInteger(productList.price, 3, 'COMMA')}]]</small></p>
			       <ul class="float-right">
	       				<th:block th:each="productColorMap: ${productColorMap}">
		       				<th:block th:each="color: ${productColorMap.value}">
			       				<th:block th:if ="${productList.productNo== productColorMap.key}">
							       <li style ="list-style:none" class="float-left">
			                      		<img th:src= "${color}" width="25px">
							       </li>
						       </th:block>
						       </th:block>
				       </th:block>
			       </ul>
			     </div>
			 </div>
		  </th:block>
		</div>
	</div>
</div>

<!-- paging -->
 <div class="mt-2">
   <div style="width: 990px; margin: 0px auto;">
     <div style="display:flex; justify-content:center; width:100%">
     <th:block th:if ="${pager.totalRows != 0}">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
        
          <li class="page-item">
            <a class="page-link" th:href="@{'productList?categoryId='+${categoryId}+'&pageNo=1'}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          
          <th:block th:if ="${pager.groupNo!=1}">
           <li class="page-item">
              <a class="page-link" th:href="@{'productList?categoryId='+${categoryId}+'&pageNo='+${pager.startPageNo-1}}" aria-label="Next">
                <span aria-hidden="true">&lt;</span>
               </a>
            </li>
         </th:block>
         
         <th:block th:each="i: ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
          <th:block th:if="${pager.pageNo !=i}">
            <li class="page-item">
              <a class="page-link" th:href="@{'productList?categoryId='+${categoryId}+'&pageNo='+${i}}">[[${i}]]</a>
            </li>
          </th:block>
          <th:block th:if ="${pager.pageNo ==i}">
            <li class="page-item active">
              <a class="page-link " th:href="@{'productList?categoryId='+${categoryId}+'&pageNo='+${i}}">[[${i}]]</a>
            </li>
           </th:block>
         </th:block>
         
         <th:block th:if="${pager.groupNo!=pager.totalGroupNo}">
           <li class="page-item">
              <a class="page-link" th:href="@{'productList?categoryId='+${categoryId}+'&pageNo='+${pager.endPageNo+1}}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
               </a>
            </li>
         </th:block>
          <li class="page-item">
            <a class="page-link" th:href="@{'productList?categoryId='+${categoryId}+'&pageNo='+${pager.totalPageNo}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
             </a>
          </li>
            </ul>
       </nav>
       </th:block>
     </div>
  </div>
</div>

<style>
.page-item.active .page-link {
    color: #fff;
    background-color: #8193a7;
    border-color: #8193a7;
}
</style>
   

</th:block>
</th:block>